
<template>
    <div class="row">
        <p class="col-md-6">{{name}} Can You see </p>
        <h1 class="col-md-6 hello" >Home</h1>
    </div>
</template>

<script>
export default {
    data() {
        return{
            name: 'Usman Khan'
        }
    },
}
</script>