<template>
    <div class="container">
        <h1>Header Will be Here</h1>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
